LISTING 4-28 Web Service/JokeOfTheDay/JokeClient/Connected Services/JokeService/JokeOfTheDayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetJoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jokeStrength" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJokeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJokeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>